 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 50px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -187px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -549px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 375px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 375px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-2 .u-over-slide-1 {
  transition-duration: 0.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  transition-duration: 0.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  transition-duration: 0.25s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  right: 10px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  right: auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-group-1 {
  width: 510px;
  min-height: 178px;
  margin: 69px auto 0;
}

.u-section-2 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-2 .u-text-2 {
  text-align: center;
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-2 .u-gallery-1 {
    margin-left: initial;
  }

  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-2 .u-group-1 {
    width: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 375px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  min-height: 202px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-3 .u-text-2 {
  text-align: center;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 224px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 375px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 167px;
  margin-top: 75px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  text-align: center;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 196px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 375px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  min-height: 202px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-5 .u-text-2 {
  text-align: center;
  margin: 17px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  right: 10px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-5 .u-gallery-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 196px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 375px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  min-height: 167px;
  margin-top: 75px;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-6 .u-text-2 {
  text-align: center;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 196px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 375px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-group-1 {
  min-height: 202px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-7 .u-text-2 {
  text-align: center;
  margin: 13px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 28px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  right: 10px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-7 .u-gallery-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 196px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 375px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-group-1 {
  min-height: 167px;
  margin-top: 75px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  margin-left: auto;
  padding: 0;
}

.u-section-8 .u-text-2 {
  text-align: center;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-8 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 196px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 375px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 375px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-group-1 {
  min-height: 203px;
  margin-top: 55px;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-9 .u-text-2 {
  text-align: center;
  margin: 17px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  right: 10px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-9 .u-gallery-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 196px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 375px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-group-1 {
  min-height: 202px;
  margin-top: 56px;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-10 .u-text-2 {
  text-align: center;
  margin: 17px 0 0;
}

.u-section-10 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 196px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 375px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-group-1 {
  min-height: 202px;
  margin: 0 auto;
}

.u-section-11 .u-text-1 {
  text-align: center;
  margin: 0;
}

.u-section-11 .u-text-2 {
  text-align: center;
  margin: 17px 0 0;
}

.u-section-11 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 24px auto 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-11 .u-container-layout-3 {
  padding: 0;
}

.u-section-11 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
}

.u-section-11 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-11 .u-carousel-item-1 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 30px;
}

.u-section-11 .u-carousel-control-1 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  right: 10px;
}

.u-section-11 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-11 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-11 .u-gallery-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 196px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 375px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 375px;
}

.u-section-12 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-12 .u-group-1 {
  min-height: 315px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-12 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-12 .u-text-1 {
  width: 540px;
  margin: 0 auto;
}

.u-section-12 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 163px;
}

.u-block-e3cd-66 {
  height: 47px;
}

.u-section-12 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-12 .u-btn-3 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-12 .u-btn-4 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-12 .u-btn-5 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-12 .u-btn-6 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-12 .u-btn-7 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-12 .u-table-cell-8 {
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-12 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-block-e3cd-85 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-12 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-12 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-12 .u-text-1 {
    width: 320px;
  }
}